<div class="w-full">
  <%= Time.now() %>
  <div id="notice"><%= notice %></div>
  <div> TOTAL MESSAGES:
    <span id="messages_counter"><%= Message.count%></span>
  </div>

  <div id="new_message">
    <%= render partial: "messages/form", locals: {message: Message.new} %>
  </div>

  <div id="messages" class="min-w-full">
    <%= render @messages %>
  </div>
</div>
