<div id="root">
  <div class="layout-wrapper flex" data-controller= "messages" data-messages-open-value="false">
  <%= render partial:'layouts/sidemenu' %>
  <div class="chat-leftsidebar">
    <div class="text-red-500"> TOTAL MESSAGES:
      <span id="messages_counter"><%= Message.count%></span>
      <div class="px-3">

      </div>
    </div>
  </div>
  <div class="user-chat w-full">
    <div class="flex">
      <div class="w-full overflow-hidden relative">
        <div class="p-3 border-b user-chat-topbar">
          <div class="grid grid-cols-3">
            <div class="justify-start">
              <div class="p-3">
            <span> HELLO MN
              <i class="fa-solid fa-check"></i>
            </span>
              </div>
            </div>
            <div class="flex col-span-2 justify-end">
              <div class="w-full">
                <%= form_with url: messages_path, method: :get, html: {
                  data: {turbo_frame: :search_messages, messages_target: "form",}
                }  do |form|%>
                  <%= form.search_field :body, data:{ action: "input->messages#search", messages_target: "inputContent"}, class: "w-full"%>
                <% end %>
              </div>
              <button class="p-3" data-action="click->messages#openSearchInput" data-messages-target="openSearchInputContent" ><i class="fa-solid fa-magnifying-glass"></i></button>
              <button class="p-3" data-action="click->messages#closeSearchInput" data-messages-target="closeSearchInputContent" ><i class="fa-solid fa-magnifying-glass"></i></button>
              <button class="p-3"><i class="fa-brands fa-facebook"></i></button>
              <button class="p-3"><i class="fa-brands fa-twitter"></i></button>
              <button class="p-3"><i class="fa-solid fa-phone"></i></button>
            </div>
          </div>
        </div>
        <div class="px-3 chat-message">
          <%= turbo_frame_tag :search_messages do %>
              <div class="text-center" id="load-more">
                <%= link_to "Load More", pagy_url_for(@pagy, @pagy.next), method: :get, data:{turbo_stream: true} if @pagy.next %>
              </div>
            <div id="messages" class="min-w-full snap-center">
              <%= render @messages %>
            </div>
          <% end %>
            <div id="bottom"></div>
        </div>
        <div id="new_message" class="p-3 border-t user-chat-message">
          <%= render "form", message: Message.new %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
